*.log
.vagrant/
m4/
*.lo
*.la
*.in
.deps/
Makefile
*.o
*.m4
.libs
*.zip
autom4te.cache/
/src/classlib.h
/src/classlib-defs.h
/src/classlib-excep.h
/src/classlib-symbol.h
/src/config.h
/compile
/config.guess
/config.status
/config.sub
/configure
/libtool
/ltmain.sh
/src/stamp-h1
/src/jamvm
/src/arch.h

src/interp/engine/compute_relocatability
src/interp/relocatability.inc

.idea/
build/
cmake-build-debug/
